repositories:
  - name: cert-manager
    url: https://charts.jetstack.io
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: linkerd-edge 
    url: https://helm.linkerd.io/edge
  - name: external-secrets
    url: https://charts.external-secrets.io

releases:

  # Cert-Manager
  - name: cert-manager
    namespace: cert-manager
    chart: cert-manager/cert-manager
    version: 1.19.2
    createNamespace: false
    installed: true
    wait: true
    values:
      - values/cert-manager.yaml
  
  # Trust-Manager
  - name: trust-manager
    namespace: cert-manager
    chart: cert-manager/trust-manager
    version: 0.21.1
    createNamespace: false
    installed: true
    wait: true
    values:
      - values/trust-manager.yaml
    needs:
      - cert-manager/cert-manager
  
  # Kube-Prometheus Stack
  - name: kube-prometheus
    namespace: monitoring
    chart: prometheus-community/kube-prometheus-stack
    version: 82.1.0
    createNamespace: false
    installed: true
    wait: true
    values:
      - values/kube-prometheus.yaml

  # Linkerd CRDs
  - name: linkerd-crds
    namespace: linkerd
    chart: linkerd-edge/linkerd-crds
    version: 2026.2.1
    createNamespace: false
    installed: true
    wait: true
    needs: 
      - cert-manager/trust-manager

  # Linkerd Control Plane
  - name: linkerd-control-plane
    namespace: linkerd
    chart: linkerd-edge/linkerd-control-plane
    version: 2026.2.1
    createNamespace: false
    values:
      - identity:
          externalCA: true
          issuer:
            scheme: kubernetes.io/tls
    needs:
      - linkerd/linkerd-crds
      - cert-manager/trust-manager

  # linkerd viz(optional)
  #- name: linkerd-viz
  #  namespace: linkerd
  #  chart: linkerd-edge/linkerd-viz
  #  version: 2026.2.1
  #  createNamespace: false
  #  installed: true
  #  wait: true

  # External secrets
  - name: external-secrets
    namespace: cert-manager
    chart: external-secrets/external-secrets
    version: 2.0.0
    createNamespace: false
    installed: true
    wait: true
